.form-select.noshadow {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

ol.prep-steps {
	padding-left: 0px;
}

li.mb-2::marker{

	color : rgb(218, 41, 28);
	font-size: 17px;
	margin-right : 8px;
}


ul.igrd-lst {
	padding-left: 0px;
	box-sizing: content-box;
	list-style: none;
}

ul.igrd-lst li.mb-1::marker{
	box-sizing: content-box;
	display: none;
}